.venv
__pycache__
node_modules
google-credentials-config*.json
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/onegt.iml
/.idea/vcs.xml
/backend/venv/bin/activate
/backend/venv/bin/activate.csh
/backend/venv/bin/activate.fish
/backend/venv/bin/Activate.ps1
/backend/venv/bin/dotenv
/backend/venv/bin/google-oauthlib-tool
/backend/venv/bin/httpx
/backend/venv/bin/normalizer
/backend/venv/bin/pip
/backend/venv/bin/pip3
/backend/venv/bin/pip3.11
/backend/venv/bin/pyrsa-decrypt
/backend/venv/bin/pyrsa-encrypt
/backend/venv/bin/pyrsa-keygen
/backend/venv/bin/pyrsa-priv2pub
/backend/venv/bin/pyrsa-sign
/backend/venv/bin/pyrsa-verify
/backend/venv/bin/python
/backend/venv/bin/python3
/backend/venv/bin/python3.11
/backend/venv/bin/uvicorn
/backend/venv/bin/watchfiles
/backend/venv/bin/websockets
/backend/venv/lib/*
/backend/venv/pyvenv.cfg
